/* Padding Base */
.p-0 {
    padding: 0px;
}

.p-4 {
    padding: 4px;
}

.p-8 {
    padding: 8px;
}

.p-16 {
    padding: 16px;
}

.p-24 {
    padding: 24px;
}

.p-48 {
    padding: 48px;
}

.p-96 {
    padding: 96px;
}

.pt-0 {
    padding-top: 0px !important;
}

.pt-4 {
    padding-top: 4px;
}

.pt-8 {
    padding-top: 8px;
}

.pt-16 {
    padding-top: 16px;
}

.pt-24 {
    padding-top: 24px;
}

.pt-48 {
    padding-top: 48px;
}

.pt-96 {
    padding-top: 96px;
}

.pb-0 {
    padding-bottom: 0px;
}

.pb-4 {
    padding-bottom: 4px;
}

.pb-8 {
    padding-bottom: 8px;
}

.pb-16 {
    padding-bottom: 16px;
}

.pb-24 {
    padding-bottom: 24px;
}

.pb-48 {
    padding-bottom: 48px !important;
}

.pb-96 {
    padding-bottom: 96px !important;
}

.px-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.px-4 {
    padding-left: 4px;
    padding-right: 4px;
}

.px-8 {
    padding-left: 8px;
    padding-right: 8px;
}

.px-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.px-24 {
    padding-left: 24px;
    padding-right: 24px;
}

.px-48 {
    padding-left: 48px;
    padding-right: 48px;
}

.px-96 {
    padding-left: 96px;
    padding-right: 96px;
}

/* Margin Base */
.m-0 {
    margin: 0px;
}

.m-4 {
    margin: 4px;
}

.m-8 {
    margin: 8px;
}

.m-16 {
    margin: 16px;
}

.m-24 {
    margin: 24px;
}

.m-48 {
    margin: 48px;
}

.m-96 {
    margin: 96px;
}

.mt-0 {
    margin-top: 0px;
}

.mt-4 {
    margin-top: 4px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px!important;
}

.mt-24 {
    margin-top: 24px!important;
}

.mt-48 {
    margin-top: 48px !important;
}

.mt-96 {
    margin-top: 96px !important;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb-4 {
    margin-bottom: 4px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-48 {
    margin-bottom: 48px;
}

.mb-96 {
    margin-bottom: 96px;
}

.mx-0 {
    margin-left: 0px;
    margin-right: 0px;
}

.mx-4 {
    margin-left: 4px;
    margin-right: 4px;
}

.mx-8 {
    margin-left: 8px;
    margin-right: 8px;
}

.mx-16 {
    margin-left: 16px;
    margin-right: 16px;
}

.mx-24 {
    margin-left: 24px;
    margin-right: 24px;
}

.mx-48 {
    margin-left: 48px;
    margin-right: 48px;
}

.mx-96 {
    margin-left: 96px;
    margin-right: 96px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 640px) {
    .p-sm-0 {
        padding: 0;
    }

    .p-sm-4 {
        padding: 4px;
    }

    .p-sm-8 {
        padding: 8px;
    }

    .p-sm-16 {
        padding: 16px;
    }

    .p-sm-24 {
        padding: 24px;
    }

    .p-sm-48 {
        padding: 48px;
    }

    .p-sm-96 {
        padding: 96px;
    }

    .pt-sm-0 {
        padding-top: 0;
    }

    .pt-sm-4 {
        padding-top: 4px;
    }

    .pt-sm-16 {
        padding-top: 16px;
    }

    .pt-sm-48 {
        padding-top: 48px;
    }

    .pb-sm-0 {
        padding-bottom: 0;
    }

    .pb-sm-4 {
        padding-bottom: 4px;
    }

    .pb-sm-16 {
        padding-bottom: 16px;
    }

    .pb-sm-48 {
        padding-bottom: 48px;
    }

    .px-sm-0 {
        padding-left: 0;
        padding-right: 0;
    }

    .px-sm-16 {
        padding-left: 16px;
        padding-right: 16px;
    }

    .m-sm-0 {
        margin: 0;
    }

    .m-sm-16 {
        margin: 16px;
    }

    .mt-sm-0 {
        margin-top: 0;
    }

    .mt-sm-16 {
        margin-top: 16px;
    }

    .mb-sm-0 {
        margin-bottom: 0;
    }

    .mb-sm-16 {
        margin-bottom: 16px;
    }

    .mx-sm-auto {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) {
    .p-md-0 {
        padding: 0;
    }

    .p-md-16 {
        padding: 16px;
    }

    .p-md-24 {
        padding: 24px;
    }

    .p-md-48 {
        padding: 48px;
    }

    .p-md-96 {
        padding: 96px;
    }

    .pt-md-0 {
        padding-top: 0;
    }

    .pt-md-24 {
        padding-top: 24px;
    }

    .pt-md-96 {
        padding-top: 96px;
    }

    .px-md-24 {
        padding-left: 24px;
        padding-right: 24px;
    }

    .px-md-48 {
        padding-left: 48px;
        padding-right: 48px;
    }

    .mt-md-24 {
        margin-top: 24px;
    }

    .mb-md-24 {
        margin-bottom: 24px;
    }
}
.no-padding-top{
    padding-top: 56px!important;
}
@media (min-width: 992px) {
    .no-padding-top {
        padding-top: 0px!important;
    }
}

@media (min-width: 1024px) {

    .p-lg-0 {
        padding: 0;
    }

    .p-lg-24 {
        padding: 24px;
    }

    .p-lg-48 {
        padding: 48px;
    }

    .p-lg-96 {
        padding: 96px;
    }

    .pt-lg-0 {
        padding-top: 0;
    }

    .pt-lg-48 {
        padding-top: 48px;
    }

    .pt-lg-96 {
        padding-top: 96px;
    }

    .px-lg-48 {
        padding-left: 48px;
        padding-right: 48px;
    }

    .px-lg-96 {
        padding-left: 96px;
        padding-right: 96px;
    }

    .mt-lg-48 {
        margin-top: 48px !important;
    }

    .mb-lg-96 {
        margin-bottom: 96px !important;
    }
}

@media (min-width: 1280px) {
    .p-xl-96 {
        padding: 96px;
    }

    .pt-xl-96 {
        padding-top: 96px;
    }

    .pb-xl-96 {
        padding-bottom: 96px;
    }

    .mt-xl-96 {
        margin-top: 96px;
    }
}

@media (min-width: 640px) {
    .m-sm-4 {
        margin: 4px;
    }

    .m-sm-8 {
        margin: 8px;
    }

    .m-sm-16 {
        margin: 16px;
    }

    .m-sm-24 {
        margin: 24px;
    }

    .m-sm-48 {
        margin: 48px;
    }

    .m-sm-96 {
        margin: 96px;
    }

    .mt-sm-4 {
        margin-top: 4px;
    }

    .mt-sm-16 {
        margin-top: 16px;
    }

    .mt-sm-48 {
        margin-top: 48px;
    }

    .mb-sm-4 {
        margin-bottom: 4px;
    }

    .mb-sm-16 {
        margin-bottom: 16px;
    }

    .mb-sm-48 {
        margin-bottom: 48px;
    }

    .mx-sm-16 {
        margin-left: 16px;
        margin-right: 16px;
    }

    .mx-sm-auto {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) {
    .m-md-16 {
        margin: 16px;
    }

    .m-md-24 {
        margin: 24px;
    }

    .m-md-48 {
        margin: 48px;
    }

    .m-md-96 {
        margin: 96px;
    }

    .mt-md-24 {
        margin-top: 24px;
    }

    .mt-md-48 {
        margin-top: 48px;
    }

    .mt-md-96 {
        margin-top: 96px;
    }

    .mb-md-24 {
        margin-bottom: 24px;
    }

    .mb-md-48 {
        margin-bottom: 48px;
    }

    .mb-md-96 {
        margin-bottom: 96px;
    }

    .mx-md-24 {
        margin-left: 24px;
        margin-right: 24px;
    }

    .mx-md-auto {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1024px) {
    .m-lg-24 {
        margin: 24px;
    }

    .m-lg-48 {
        margin: 48px;
    }

    .m-lg-96 {
        margin: 96px;
    }

    .mt-lg-0 {
        margin-top: 0;
    }

    .mt-lg-48 {
        margin-top: 48px;
    }

    .mt-lg-96 {
        margin-top: 96px !important;
    }

    .mb-lg-0 {
        margin-bottom: 0;
    }

    .mb-lg-48 {
        margin-bottom: 48px;
    }

    .mb-lg-96 {
        margin-bottom: 96px;
    }

    .mx-lg-48 {
        margin-left: 48px;
        margin-right: 48px;
    }

    .mx-lg-auto {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1280px) {
    .m-xl-96 {
        margin: 96px;
    }

    .mt-xl-96 {
        margin-top: 96px;
    }

    .mb-xl-96 {
        margin-bottom: 96px;
    }

    .mx-xl-96 {
        margin-left: 96px;
        margin-right: 96px;
    }
}


// gap
/* Gap utilities */

.gap-4 {
    gap: 4px;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

.gap-48 {
    gap: 48px;
}

.gap-96 {
    gap: 96px;
}


/* Row gap */

.row-gap-4 {
    row-gap: 4px;
}

.row-gap-8 {
    row-gap: 8px;
}

.row-gap-16 {
    row-gap: 16px;
}

.row-gap-24 {
    row-gap: 24px;
}

.row-gap-48 {
    row-gap: 48px;
}

.row-gap-96 {
    row-gap: 96px;
}


/* Column gap */

.col-gap-4 {
    column-gap: 4px;
}

.col-gap-8 {
    column-gap: 8px;
}

.col-gap-16 {
    column-gap: 16px;
}

.col-gap-24 {
    column-gap: 24px;
}

.col-gap-48 {
    column-gap: 48px;
}

.col-gap-96 {
    column-gap: 96px;
}

// opacity
.opacity-10 {
    opacity: 0.1;
}

.opacity-20 {
    opacity: 0.2;
}

.opacity-30 {
    opacity: 0.3;
}

.opacity-40 {
    opacity: 0.4;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-60 {
    opacity: 0.6;
}

.opacity-70 {
    opacity: 0.7;
}

.opacity-80 {
    opacity: 0.8;
}

.opacity-90 {
    opacity: 0.9;
}

.opacity-100 {
    opacity: 1;
}

.h-80 {
    height: 80px;
}